<%- include('partials/header') %>

<div>
    <h2> <%= quizz.getTitle() %>
        <span><%= quizz.questions.length %> questions</span>
    </h2>
</div>

<div>
    <h4> 
        <%= quizz.getDescription() %>
    </h4>
</div>

<div>
    <p>by <%= quizz.author.getFullName() %></p>
</div>

<div class="row">

    <% for(let question of quizz.questions) { %> 

      <div class="col question">
          <span class="level level--beginner">Débutant</span>
          <div class="question__question">
              <%= question.getQuestion() %>
          </div>
          <div>
              <ul>
              <% for(let index in question.answers){ %>
                  <li><%= parseInt(index) + 1 %>. <%= question.answers[index].getDescription() %></li>
                <% } %>
              </ul> 
          </div>
      </div>

    
    <% } %>
  
</div>

<%- include('partials/footer') %>